<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="com.newProject.PracticeProject.TestSearchFlight"/>
      <class name="com.newProject.PracticeProject.TestFlightCovid19Options"/>
      <class name="com.newProject.PracticeProject.TestStartPlanVacation"/>
      <class name="com.newProject.PracticeProject.TestSearchCar"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
